//
//
//
//
// 頁尾區域
.footer
	.info
		.content.mw-limited(style="max-width: 1200px; margin: auto;")
			| 衛福部諮詢專線 | 社團法人台灣長期照護專業協會：（XX）XXXX-XXXX
			br
			| 相關資訊 | 機構人力系統 https://Itcpap.mohw.gov.tw/molc


			//-a.cert(href='javascript:void(0)' target='_blank' title='無障礙網站(另開新視窗)')
				img(src="assets/images/cert-AA.svg" alt="AA無障礙標章")
	.copyright
		.content.mw-limited 瀏覽器建議使用 Google Chrome, Microsoft Edge 或 FireFox 最新版本


